
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: url('../img/pape.jpg');
  align-items: center;
  background-size: 115% 115%;
  background-position: center;
}

span.hidden {
  opacity: 0;
}

section {
  align-items: center;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
}

section2 {
  align-items: left;
  width: 100%;
  transform: translate(50px, -400px);
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
}

.greeting{
  text-align: center;
  font-size: 50px;
  padding-bottom: 100px;
  padding-top: 100px;

}

.row {
  display: flex;
  align-items: flex-start;
}

.card-fore {
  background-color: rgba(20, 20, 20, 0.7);
  margin-left: 885px;
  margin-right: 50px;
  z-index: 3;
  transform: translateY(-230px);
  height: 230px;
  border-radius: 5px;
  width: 780px;
}

.card-fore .group-fore .subtitle {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.card-fore .group-fore {
  padding: 30px 30px;
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}

.card-music {
    z-index: 1;
  background-color: rgba(20, 20, 20, 0.7);
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  width: 550px;

}

.card-music .group-music {
  padding: 30px 30px;
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}


.card-music .group-music .title {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 480px;
}

.card-music .group-music .subtitle {
  font-size: 10px;
  color: #ffffff;
  text-align: center;
}


.card-green {
  z-index: 2;
  background-color: rgba(20, 20, 20, 0.7);
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  width: 350px;

}

.card-green .group {
  padding: 30px 30px;
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}


.card-green .group .title {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.card-green .group .subtitle {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.card-green .group .weather {
  text-align: center;
  margin-top: -10px;
}

.card-green .group .weather .title {
  margin-top: -50px;
  display: inline-block;
  margin-right: 10px;
}

.card-green .group .weather .icon {
  color: #ffffff;
}


ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.font-default, input, body {
    color: #f7f7f7;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400
}

.font-heading {
    color: #f7f7f7;
    font-family: 'Oswald', 'Open Sans', Arial, sans-serif;
    font-weight: 700
}

.font-subheading {
    color: #f7f7f7;
    font-family: 'Noto Serif', Georgia, serif;
    font-weight: 400
}

.font-code, .links, .code {
    color: #f7f7f7;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400
}

a {
    color: #f7f7f7;
    opacity: .8;
    text-decoration: none;
    transition: opacity .2s linear
}

a:hover {
    opacity: 1;
    text-decoration: none
}

.links {
    font-size: 1em
}

.links a:not(:last-of-type) {
    margin-right: 2em
}

input {
    background-color: transparent;
    border-color: #f7f7f7;
    border-radius: 0px;
    border-style: none none solid none;
    border-width: 0.1em;
    box-shadow: 0em 0.15em #000;
    color: #f7f7f7;
    font-size: 1em;
    letter-spacing: 0.015em
}

input::-webkit-input-placeholder {
    color: #f7f7f7;
    opacity: 0.3
}

input:-ms-input-placeholder {
    color: #f7f7f7;
    opacity: 0.3
}

input::-ms-input-placeholder {
    color: #f7f7f7;
    opacity: 0.3
}

input::placeholder {
    color: #f7f7f7;
    opacity: 0.3
}

b {
    font-weight: bolder
}

.hide {
    display: none
}

.blur {
    -webkit-filter: blur(15px);
    filter: blur(15px)
}

body {
    background-color: #35384a
}

::-moz-selection {
    background: #dcd7ff
}

::selection {
    background: #dcd7ff
}

html, body {
    font-weight: 300;
    margin: 0;
    padding: 0
}

h1 {
    font-size: 2em;
    margin-top: 0.4em
}

h2 {
    font-size: 1.6em
}

.apparent {
    color: #c4c4c4;
    font-size: 0.75em
}

.links {
    padding-bottom: 0.4em
}

.menuItem {
    margin-top: 0.1em
}

.userLine {
    margin-bottom: 0.65em
}

.scrobbles {
    color: #c4c4c4;
    font-size: 0.6em;
    margin-bottom: 0.3em
}

.artist {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.background {
    background-position: center top;
    background-size: cover;
    height: 100vh;
    margin-left: -2em;
    margin-top: -2em;
    padding: 4em;
    position: fixed;
    transition: background-image .6s linear;
    width: 100vw;
    z-index: -1
}

.container {
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4em);
    justify-content: space-between;
    padding: 2em 3em;
    width: calc(100vw - 6em)
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

.row.top {
    align-items: flex-start
}

.row.bottom {
    align-items: flex-end
}

.corner.left {
    text-align: left
}

.corner.right {
    text-align: right
}

.songLink {
    opacity: 1;
}

.cover {
    width: 400px;
}

.trackart{
  height: 200px;
  width: 200px;
}

@media (min-width: 200px) {
    .cover {
        width: 20vw;
    }
}

@media (min-width: 768px) {
    .cover {
        width: 20vw;
    }
}

@media (min-width: 992px) {
    .cover {
        width: 20vw;
    }
}

@media (min-width: 1200px) {
    .cover {
        width: 20vw;
    }
}

body .nowplayingcard {
  max-width: 100%;
  height: 250px;
  align-content: center;
  margin-top: 5%;
  margin-left: 115px;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
}

body .nowplayingcard .nowplayingcontainer-inner {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  transition: 0.3s;
  display: inline-block;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
body .nowplayingcard .nowplayingcontainer-inner:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
}
body .nowplayingcard .nowplayingcontainer-inner img#trackart {
  max-width: 400%;
  height: 250px;
  float: left;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo {
  width: 70%;
  float: left;
  display: block;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo a {
  max-width: 90%;
  display: block;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(odd) {
  color: black;
  font-weight: bold;
  vertical-align: middle;
  line-height: 15px;
  letter-spacing: 0.2px;
  padding: 10% 0 0 5%;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(odd) img {
  width: 55px;
  height: 55px;
  vertical-align: middle;
  margin: -2% 3px 0 0;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(even) {
  color: gray;
  font-size: 12px;
  letter-spacing: 0.1px;
  padding: 5% 0 0 5%;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(even) img {
  width: 55px;
  height: 55px;
  vertical-align: middle;
  margin: -2% 3px 0 0;
}

.weatherwidget-io{
  width: 680px;
  height: 250px;
  padding-bottom: 5000px;
  padding-left: 580px;
  float: inherit;
  transform: translateY(30px) translateX(20px) scale(1.13);
  data-weight: 400;
}
